button{
    margin-top: 2em;
    margin-left: 46em;
    border-radius: 50px;
    padding: 10px;
    border: red double ;
}
button:hover{
    cursor: pointer;
}
h1{
    text-align: center;
}
#hover-message{
    color: orange;
    text-align: center;
    background-color: black;
    width: 30%;
    margin: 0 auto;
}
.green{
    background-color: green;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.black{
    background-color: black;
    color: white;
}